{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}

{% set product_type = product.title['#bundle'] %}
{% set image_uri = product.field_product_image[0]['#item'].entity.uri.value %}
{% set styled_image_url = image_uri|image_style('product_details_image') %}

<article{{ attributes }}>
  {{ title_prefix }}
  {{ title_suffix }}

  <div class="training-details-container">
    <div class="image-content">
      <div class="image-wrapper">
        <img src="{{ styled_image_url }}" alt="Image Alt Text">
      </div>
    </div>
    <div class="body-content">
        {{ product.title }}
        {{ product.field_product_code	}}
        {{ product.body }}
        {{ product.field_category}}
        {{ product.field_size }}
        <div class="product-price">
        {{ product.variation_list_price }}
        {{ product.variation_price }}
        </div>
        
        <div>
          <button type="button" class="btn add-to-cart-button">
            {{ product.variations }}
          </button>
          {# <a href="/">
          <button type="button" class="btn buy-now-button">
            Buy Now
          </button></a> #}

          <div>
              {# <a href="/form/course-enquiry-form" class="webform-dialog webform-dialog-narrow button modal-btn">EnQuiry</a> #}
              <button type="button" class="btn btn-primary modal-btn training-btn" id="{{product_entity.product_id.value}}" data-bs-toggle="modal" data-bs-target="#trainingModal">
                Buy Now
              </button>


              <!-- Modal -->
              <div class="modal fade" id="trainingModal" tabindex="-1" aria-labelledby="trainingModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="trainingModalLabel">Course Enquiry Form</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>



        </div>
    </div>
  </div>
</article>
